<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Налаштування</title>

    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@400;600&amp;display=swap" rel="stylesheet">

    <style>
        body {
            --primary: #065740;

            align-items: center;
            display: flex;
            font-family: Mulish, sans-serif;
            justify-content: center;
            margin: 0;
            min-height: 100vh;
            padding: 0;
        }

        form {
            column-gap: 20px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            max-width: 800px;
            width: 100%;
        }

        input {
            accent-color: var(--primary);
        }

        button {
            all: unset;
            background-color: var(--primary);
            color: white;
            cursor: pointer;
            display: inline-block;
            padding: 10px;
            text-align: center;
        }

        button[type='submit'] {
            grid-column: 1/-1;
            margin-top: 20px;
        }

        fieldset {
            border-color: var(--primary);
        }

        legend {
            color: var(--primary);
            font-weight: bold;
        }

        .flexField {
            display: flex;
            justify-content: space-between;
        }

        .blockInput label {
            display: block;
        }
    </style>
</head>
<body>
{{- /*gotype: github.com/d-andrii/spotify-playback.IndexData*/ -}}
<form action="/save">
    <fieldset>
        <legend>Пристрій</legend>

        {{range .Devices}}
            <div class="flexField">
                <label for="{{.ID}}">{{.Name}}</label>
                <input type="radio" name="device" id="{{.ID}}" value="{{.ID}}"
                       {{if eq .ID $.CurrentDevice}}checked{{end}} />
            </div>
        {{end}}
    </fieldset>

    <fieldset>
        <legend>Статус плеєру</legend>

        <div class="flexField">
            <label for="playing">Активний</label>
            <input type="radio" name="status" id="playing" value="play"
                   {{if eq .CurrentState "play"}}checked{{end}} />
        </div>

        <div class="flexField">
            <label for="paused">Пауза</label>
            <input type="radio" name="status" id="paused" value="pause"
                   {{if eq .CurrentState "pause"}}checked{{end}} />
        </div>
    </fieldset>


    <fieldset>
        <legend>Автостарт</legend>

        <div class="blockInput">
            <label for="startTime">Почати</label>
            <input type="time" name="startTime" id="startTime" value="{{.StartTime}}"/>
        </div>

        <div class="blockInput">
            <label for="endTime">Закінчити</label>
            <input type="time" name="endTime" id="endTime" value="{{.EndTime}}"/>
        </div>
    </fieldset>

    <button type="submit">Зберегти</button>
</form>
</body>
</html>